<div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                      <%=  image_tag  "rsveep_logo.png", alt: "logo" , size: "150x150" %>
                      <%=  image_tag  "rsveep_title.png", alt: "Title", size: "300x150"  %>
                      <h3>The new way to r.s.v.p...</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                          <li>
                            <%= link_to '#', :class => 'btn btn-default btn-lg' do %>
                              <span class="network-name">Download the trial App</span>
                            <% end %>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div